.donner{
    display: flex;
    margin-top: 50px;
    background-color: lightgray;
    width: 300px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgb(66, 66, 66) 1px 3px 5px;
}

.imgbox{
  
    
}
.phone{
    color: #E4001B;
    
}
.HomeAddress{
    color: #E4001B;
    
}

.photo{
    width: 70px;
    height: 70px;
    object-fit: contain;
    background-color: #170000;
    border-radius: 100%;
}
.text{
    margin-left: 15px;
    
}

.icon{
    width: 18px;
}

.info_box{
    margin-left: 20px;

}
.info_box >p{
    padding-top: 2px;
    padding-bottom: 3px;
    font-size: 16px;
    color: #E4001B;
    
}


.blood{
    font-weight: bold;
    color: #E4001B;
    margin-top: 2px;

  }