.Footer{
    display: flex;
    background-color: #170000;
    justify-content: space-around;

 
}

.Footer_logo{
    width: 130px;
}
.logo{
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.socialLink{
    display: flex;
    margin-top: 30px;
}

.FB{
    padding-left: 10px;
    padding-right: 10px;
    color: #E4001B;
    
}